name: Backend build, release and deploy

on:
  push:
    branches:
      - master
      - sandbox
  workflow_dispatch:

jobs:
  build:
    permissions:
      contents: "read"
      packages: "write"
      id-token: "write"  
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          distribution: "adopt"
          java-version: 11

      - name: Build
        working-directory: ./server/
        run: mvn --settings settings.xml clean install
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create docker tag
        run: |
          echo "VERSION=$(date "+%Y.%m.%d")-$(git rev-parse --short HEAD)" >> $GITHUB_ENV

      - uses: nais/docker-build-push@v0
        id: docker-push
        with:
          docker_context: server
          image_suffix: server
          team: pensjon-saksbehandling

      - name: Deploy to dev-fss
        if: github.ref == 'refs/heads/master' || github.ref == 'refs/heads/sandbox'
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-fss
          IMAGE: ${{ steps.docker-push.outputs.image }}
          RESOURCE: .nais/server-dev.yaml
          TELEMETRY: ${{ steps.docker-push.outputs.telemetry }}

      - name: Deploy to prod-fss
        if: github.ref == 'refs/heads/master'
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: prod-fss
          IMAGE: ${{ steps.docker-push.outputs.image }}
          RESOURCE: .nais/server-prod.yaml
          TELEMETRY: ${{ steps.docker-push.outputs.telemetry }}

